* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: #bfd5d9;
  --header-color: #352208;
  --text-color: #0a0908;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-container {
  width: 80%;
  display: flex;
  margin: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.logo {
  font-family: 'Poiret One', cursive;
  font-size: clamp(2rem, 0.875rem + 5vw, 3.5rem);
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  flex-grow: 2;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

nav li {
  display: flex;
  line-height: 1.5em;
  justify-content: center;
  padding: 0.35em;
  width: 160px;
}

h1,
h2,
h3,
h4 {
  color: var(--header-color);
}

h1 {
  margin-bottom: 1em;
}

.hero {
  width: 100%;
  padding: 1.5em 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.hero-photo {
  display: none;
}

.hero-wrapper,
.text-container-wrapper,
.contact-wrapper,
.footer-wrapper {
  width: 80%;
}

.intro {
  max-width: 60ch;
}

.intro p {
  color: var(--text-color);
}

.intro p:nth-child(odd) {
  margin: 1em 0;
}

#photos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photos-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 0;
}

.temple-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
}

img {
  width: 280px;
  max-width: 350px;
  height: 400px;
  max-height: 500px;
}

.temple-title button {
  width: 280px;
  padding: 0.5em;
  font-weight: lighter;
  box-shadow: none;
  background-color: white;
  text-align: center;
  border: 1px solid var(--text-color);
  text-decoration: underline;
}

.temple-title:hover {
  font-weight: bolder;
}

a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

#recommendations {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.text-container-wrapper,
#contact,
.hero-wrapper {
  display: flex;
  justify-content: center;
}

.text-container {
  margin: 2em 0;
  max-width: 70ch;
  display: flex;
  flex-direction: column;
}

.text-container :nth-child(even) {
  margin: 1em 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em;
  line-height: 2em;
}

#contact h2 {
  text-align: center;
}

#contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
}

#contact li {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

.footer-wrapper {
  text-align: center;
  padding: 1em;
}

@media all and (min-width: 950px) {
  nav ul {
    justify-content: flex-end;
  }

  .temple-container {
    width: 40%;
    align-items: center;
  }
}

@media all and (min-width: 1400px) {
  .temple-container {
    width: 20%;
  }

  .photos-wrapper {
    justify-content: space-around;
  }
  nav li {
    width: 220px;
  }
}

@media all and (min-width: 1024px) {
  nav {
    justify-content: space-around;
  }
  nav li {
    justify-content: flex-end;
  }
  .hero-wrapper {
    justify-content: space-between;
  }
  .hero-photo {
    display: inline;
    width: 45%;
    max-width: 700px;
  }

  .tenor-gif-embed {
    width: 100%;
    height: 100%;
  }
  .intro {
    width: 45%;
  }
}

@media all and (min-width: 650px) {
  .contact-wrapper {
    width: 70%;
  }
  #contact ul {
    flex-direction: row;
  }
  #contact li {
    width: 50%;
  }
}
